/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF     0
#define CMAK    1
#define NAV     2
#define MOUSE   3
#define MEDIA   4
#define NUM     5
#define SYM     6
#define FN      7
#define VANILLA 8
#define SYS     9

#define XXX &none
#define ___ &trans

&lt {
    quick-tap-ms = <200>;
};

&mmv {
    time-to-max-speed-ms = <50>;
};

&msc {
    acceleration-exponent=<1>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        htnl: hold_tap_numlock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp KP_NUM>, <&macro_pause_for_release>, <&macro_tap &kp KP_NUM>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		base {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp Q         &kp W         &kp E         &kp R         &kp T           &kp Y         &kp U         &kp I         &kp O         &kp SQT      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hm LGUI A    &hm LALT S    &hm LCTRL D   &hm LSHFT F   &kp G           &kp H         &hm RSHFT J   &hm RCTRL K   &hm LALT L    &hm RGUI P   
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp Z         &kp X         &kp C         &kp V         &kp B           &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH     
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                &lt FN ESC   &lt NUM SPACE  &lt SYM TAB     &lt MOUSE RET &lt NAV BSPC  &lt MEDIA DEL                            
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        cmak {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp Q         &kp W         &kp F         &kp P         &kp B           &kp J         &kp L         &kp U         &kp Y         &kp SQT      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hm LGUI A    &hm LALT R    &hm LCTRL S   &hm LSHFT T   &kp G           &kp M         &hm RSHFT N   &hm RCTRL E   &hm LALT I    &hm RGUI O   
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp Z         &kp X         &kp C         &kp D         &kp V           &kp K         &kp H         &kp COMMA     &kp DOT       &kp FSLH     
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                &lt FN ESC    &lt NUM SPACE &lt SYM TAB     &lt MOUSE RET &lt NAV BSPC  &lt MEDIA DEL                            
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        nav {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp PG_UP     &kp HOME      &kp UP        &kp END       &kp BSPC        &kp INS       XXX           XXX           XXX           XXX          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     &kp DEL         &kp CAPS      &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(Y)       XXX           XXX           XXX           XXX           XXX          
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                ___           ___           ___             ___           ___           ___                                      
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        mouse {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX      &msc SCRL_UP       &mmv MOVE_UP  &msc SCRL_DOWN  XXX           XXX           XXX           XXX           XXX           XXX          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX      &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT  XXX          XXX           &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(Y)       XXX           XXX           XXX           XXX           XXX          
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                &mkp MCLK     &mkp LCLK     &mkp RCLK       ___           ___           ___                                      
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        media {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           &kp C_VOL_UP  XXX           XXX             &sys_reset    XXX           XXX           XXX           XXX          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           &kp C_PREV    &kp C_VOL_DN  &kp C_NEXT    XXX             &bootloader   &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX             XXX           XXX           XXX           XXX           XXX          
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                &kp C_MUTE    &kp C_PP      &kp C_STOP      ___           ___           ___                                      
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        num {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           &mkp MCLK     &mkp LCLK     &mkp RCLK     &htnl           &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT       
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     XXX             &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp SEMI     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(Y)       &kp BSLH      &kp N1        &kp N2        &kp N3        &kp GRAVE    
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                ___           ___           ___             &kp MINUS     &kp N0        &kp DOT                                  
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        sym {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           XXX           XXX           XXX             &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC     
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     XXX             &kp PLUS      &kp DLLR      &kp PRCNT     &kp CARET     &kp COLON    
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           &kp LG(SPACE) &kp LC(SPACE) &kp LA(Z)       &kp PIPE      &kp EXCL      &kp AT        &kp HASH      &kp TILDE    
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                ___           ___           ___             &kp UNDER     &kp LPAR      &kp RPAR                                 
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        fn {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           XXX           XXX           &sys_reset      &kp PSCRN     &kp F7        &kp F8        &kp F9        &kp F12      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &bootloader     &kp SLCK      &kp F4        &kp F5        &kp F6        &kp F11      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           &kp PAUSE_BREAK &kp F1        &kp F2        &kp F3        &kp F10      
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                ___           ___           ___             &kp TAB       &kp SPACE     &lt SYS K_APP                         
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        vanilla {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp Q         &kp W         &kp E         &kp R         &kp T           &kp Y         &kp U         &kp I         &kp O         &kp SQT      
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp A         &kp S         &kp D         &kp F         &kp G           &kp H         &hm RSHIFT J  &hm LCTRL K   &hm LALT L    &hm LGUI P   
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp Z         &kp X         &kp C         &kp V         &kp B           &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH     
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                &lt FN ESC    &kp SPACE     &kp TAB         &kp RET       &kp BSPC      &lt SYS DEL                           
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };

        sys {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &to 0         &to 1         &to 8         XXX           XXX          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX             XXX           XXX           XXX           XXX           XXX          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &bt BT_CLR    &out OUT_BLE  &out OUT_USB  XXX           XXX             XXX           XXX           XXX           XXX           XXX          
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼───────────────────────────╯
                                XXX           XXX           XXX             XXX           XXX           XXX                                      
//                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                            
            >;
        };
	};
};
