/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define BASE    0
#define NAV     1
#define MOUSE   2
#define MEDIA   3
#define NUM     4
#define SYM     5
#define FUN     6
#define VANILLA 7
#define ADJUST  8
#define NAV_R   9

&lt {
    quick_tap_ms = <200>;
};

&mmv {
    time-to-max-speed-ms = <50>;
};

&mwh {
    acceleration-exponent=<1>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		base {
			bindings = <
&kp ESC         &none           &mkp RCLK       &mkp MCLK       &mkp LCLK       &none                                   &tog SYM        &tog NUM        &tog FUN        &tog NAV_R      &none          &tog VANILLA
&kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T                                   &kp Y           &kp U           &kp I           &kp O           &kp P          &kp LBKT
&kp CAPS        &hm LGUI A      &hm LALT S      &hm LCTRL D     &hm LSHFT F     &kp G                                   &kp H           &hm RSHIFT J    &hm LCTRL K     &hm LALT L      &hm LGUI SQT   &kp SQT
&none           &kp Z           &kp X           &kp C           &kp V           &kp B  &lt ADJUST LPAR  &lt ADJUST RPAR &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH       &kp RBKT
                                &kp LGUI        &lt FUN ESC     &lt NUM SPACE   &lt SYM TAB                             &lt MOUSE RET   &lt NAV BSPC    &lt MEDIA DEL   &none
			>;
		};

		nav {
			bindings = <
&kp ESC         &none           &none           &none           &tog NAV        &none                                   &none           &none           &none           &none           &none          &none
&kp TAB         &kp PG_UP       &kp HOME        &kp UP          &kp END         &kp INS                                 &none           &none           &none           &none           &none          &none
&kp CAPS        &kp PG_DN       &kp LEFT        &kp DOWN        &kp RIGHT       &kp CAPS                                &none           &kp RSHFT       &kp LCTRL       &kp LALT        &kp LGUI       &none
&none           &kp LC(Z)       &kp LC(X)       &kp LC(C)       &kp LC(V)       &kp LC(Y)       &none       &none       &none           &none           &none           &none           &none          &none
                                &trans          &trans          &trans          &trans                                  &trans          &trans          &trans          &none
			>;
		};

		mouse {
			bindings = <
&kp ESC         &none           &none           &none           &none           &tog MOUSE                              &none           &none           &none           &none           &none          &none
&kp TAB         &none           &none           &none           &none           &none                                   &none           &none           &none           &none           &none          &none
&kp CAPS        &none           &none           &none           &none           &none                                   &none           &kp RSHFT       &kp LCTRL       &kp LALT        &kp LGUI       &none
&none           &kp LC(Z)       &kp LC(X)       &kp LC(C)       &kp LC(V)       &kp LC(Y)       &none       &none       &none           &none           &none           &none           &none          &none
                                &trans          &trans          &trans          &trans                                  &trans          &trans          &trans          &none
			>;
		};

		media {
			bindings = <
&kp ESC         &none           &none           &tog MEDIA      &none           &none                                   &none           &none           &none           &none           &none          &none
&none           &none           &none           &kp C_VOL_UP    &none           &none                                   &none           &none           &none           &none           &none          &none
&none           &none           &kp C_PREV      &kp C_VOL_DN    &kp C_NEXT      &none                                   &none           &kp RSHFT       &kp LCTRL       &kp LALT        &kp LGUI       &none
&none           &none           &none           &none           &none           &none           &none       &none       &none           &none           &none           &none           &none          &none
                                &none           &kp C_MUTE      &kp C_PP        &kp C_STOP                              &trans          &trans          &trans          &none
			>;
		};

		num {
			bindings = <
&kp ESC         &none           &none           &none           &none           &none                                   &none           &tog NUM        &none           &none           &none          &none
&none           &none           &mkp MCLK       &mkp LCLK       &mkp RCLK       &none                                   &kp LBKT        &kp N7          &kp N8          &kp N9          &kp RBKT       &none
&none           &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none                                   &kp EQUAL       &kp N4          &kp N5          &kp N6          &kp SEMI       &none
&none           &none           &none           &none           &none           &none           &kp LBKT    &kp RBKT    &kp BSLH        &kp N1          &kp N2          &kp N3          &kp GRAVE      &none
                                &trans          &trans          &trans          &trans                                  &kp MINUS       &kp N0          &kp DOT         &none
			>;
		};

		sym {
			bindings = <
&kp ESC         &none           &none           &none           &none           &none                                   &tog SYM        &none           &none           &none           &none          &none
&none           &none           &none           &none           &none           &none                                   &kp LBRC        &kp AMPS        &kp ASTRK       &kp LPAR        &kp RBRC       &none
&none           &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none                                   &kp PLUS        &kp DLLR        &kp PRCNT       &kp CARET       &kp COLON      &none
&none           &none           &none           &none           &none           &none           &kp LBRC    &kp RBRC    &kp PIPE        &kp EXCL        &kp AT          &kp HASH        &kp TILDE      &none
                                &trans          &trans          &trans          &trans                                  &kp UNDER       &kp LPAR        &kp RPAR        &none
			>;
		};

		fun {
			bindings = <
&kp ESC         &none           &none           &none           &none           &none                                   &none           &none           &tog FUN        &none           &none          &none
&none           &none           &none           &none           &none           &none                                   &kp PSCRN       &kp F7          &kp F8          &kp F9          &kp F12        &none
&none           &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none                                   &kp SLCK        &kp F4          &kp F5          &kp F6          &kp F11        &none
&none           &none           &none           &none           &none           &none           &none       &none       &kp PAUSE_BREAK &kp F1          &kp F2          &kp F3          &kp F10        &none
                                &trans          &trans          &trans          &trans                                  &kp TAB         &kp SPACE       &kp K_APP       &none
			>;
		};

		vanilla {
			bindings = <
&kp ESC         &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                  &kp N6          &kp N7          &kp N8          &kp N9          &kp N0         &kp PG_UP
&kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T                                   &kp Y           &kp U           &kp I           &kp O           &kp P          &kp PG_DN
&kp CAPS        &kp A           &kp S           &kp D           &kp F           &kp G                                   &kp H           &kp J           &kp K           &kp L           &kp SEMI       &kp HOME
&kp LSHFT       &kp Z           &kp X           &kp C           &kp V           &kp B           &none       &none       &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH       &kp END
                                &kp LCTRL       &kp LGUI        &kp LALT        &kp SPACE                               &kp RET         &kp BSPC        &kp DEL         &tog VANILLA
			>;
		};

		adjust {
			bindings = <
&bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                            &none           &none           &none           &none           &none          &none
&out OUT_BLE    &none           &none           &none           &none           &none                                   &none           &none           &none           &none           &none          &none
&out OUT_USB    &none           &none           &none           &none           &none                                   &none           &none           &none           &none           &none          &none
&none           &none           &none           &none           &none           &none           &none       &none       &none           &none           &none           &none           &none          &none
                                &none           &none           &none           &none                                   &none           &none           &none           &none
			>;
		};

		nav_r {
			bindings = <
&kp ESC         &none           &none           &none           &none           &none                                   &none           &none           &none           &tog NAV_R      &none          &kp PG_UP
&kp TAB         &none           &kp W           &none           &none           &none                                   &none           &none           &kp UP          &none           &none          &kp PG_DN
&kp CAPS        &kp A           &kp S           &none           &kp F           &none                                   &none           &kp LEFT        &kp DOWN        &kp RIGHT       &none          &kp HOME
&kp LSHFT       &kp Z           &kp X           &kp C           &kp V           &none           &none       &none       &none           &none           &none           &none           &none          &kp END
                                &kp LCTRL       &kp LGUI        &kp LALT        &kp SPACE                               &kp RET         &kp BSPC        &kp DEL         &none
			>;
		};
	};
};
